* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Gemini_Generated_Image_uiw7scuiw7scuiw7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container {
    width: 420px;
    background-color:transparent;
    border: 2px solid grey;
    box-shadow:0 0 10px rgb(76, 0, 255);
    border-radius: 10px;
    padding: 30px 40px;
    opacity: 90%;

}

.container h1 {
    text-align: center;
    font-size: 38px;
    color:rgb(114, 17, 113);
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.input-login {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-login input{
    width: 100%;
    height: 80%;
    background-color: transparent;
    border: 2px solid violet;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.remember {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}
.remember label input{
    accent-color: white;
    margin-right: 5px;
}
.remember a {
    text-decoration: none;
    color: white;
}
.remember a:hover {
    color: rgba(212, 0, 255, 0.449);
    text-decoration: underline;
}
.container button{
    align-items: center;
    cursor: pointer;
    width: 100%;
    background: transparent ;
    border: 1px solid magenta;
    height: 40px;
    border-radius: 30px;
}
.register {
    display: flex;
    justify-content:space-evenly;
    margin: 20px 0px 0px 0px;
}
.register a{
    text-decoration: none;
    color: white;
}
.register a:hover{
    color:rgba(212, 0, 255, 0.449);
    text-decoration: underline;
}

.container button:hover{
    background-color: magenta;
    cursor: pointer;
}
.container button{
    font-size: 20px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}